/* :root {
    --headings(color: #B65506);
    --text(color: #1B6DA8);
    --black(color: #000000);
    --background(color: #000000);
    --bespoke(color: #0016a3cb);
} */
* {
    box-sizing:border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

body {
    background-image: linear-gradient(#00021beb, #000323);
    color: #B7B7B7;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(#00000f, #00021b);
    color: #cd6007;
    margin: 5px;
    padding: 10px;
}
header h1 {
    font-size: 25px;
}
header nav {
    font-size: 20px;
    margin-right: 5px;
    color: #cd6007;
} 
header nav ul {
    list-style: none;
    color: #cd6007;
} 
/* List items in navigation bar */
header nav ul li {
    display: inline; 
    font-size: 20px;
    margin-left: 15px;
    color: #cd6007;
}

.h1, .h2, .h3, .h4, .h5, a {
    color: #cd6007;
    text-decoration: none;
}
.full-body {
    display: inline-block;
    width: 100%;
}
#main-image {
    max-width: 350px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #cd6007;
    padding: 5px;
    display: flex;
    margin: 0 auto;
}
.mywork, .about, .contact {
    background-image: linear-gradient(#00000f, #00021b);
    margin: 3px;
    padding: 5px;
    text-align: center;
} 
.mywork {
    position: relative; 
    width: 0 auto;
    padding: 25px;
    text-align: center;
}
.main-card-image {
    max-width: 300px;
    height: 300px;
    display: inline-block;
    margin: 25px;
    padding: 1px;
    text-align: center;
}
#main-card-image {
    max-width: 250px;
    height: 250px;
    display: inline-flex;
    box-shadow: 0px 2px 3px 0px;
    margin: 2px;
    padding: 1px;
    text-align: center;
}
#main-card-image-link {
    max-width: 250px;
    height: 250px;
    display: inline-flex;
    box-shadow: 0px 2px 3px 0px;
    margin: 2px;
    padding: 1px;
    text-align: center;
}
.card-container, .card-container-2 {
    max-width: 300px;
    height: 300px;
    display: inline-block;
    margin: 1px;
    padding: 1px;
    text-align: center;
}
.content-card, .content-card-2 {
    max-width: 250px;
    height: 250px;
    display: inline-block;
    margin: 2px;
    padding: 1px;
    text-align: center;
}
#content-card-link, #content-card-link-2 {
    max-width: 150px;
    height: 150px;
    display: inline-flex;
    box-shadow: 0px 2px 3px 0px;
    margin: 2px;
    padding: 1px;
    text-align: center;
}

.contact ul {
    list-style: none;
    border: none;
    background-image: none;
}

.footer {
    display: block;
    width: 100%;
    background-image: linear-gradient(#00000f, #00021b);
    text-align: center;
}