:root {
    --light(color: #ffe2be);
    --black(color: #000000);
}
* {
    box-sizing:border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--black);
}

body {
    background-image: linear-gradient(#92d0ff, #62c9fdf9);
    color: var(--black)
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #0016a3cb;
    background-image: linear-gradient(#2e82ffe7, #5fc7fbf9);
    margin: 5px;
    padding: 10px;
}
header h1 {
    font-size: 25px;
}
header nav {
    font-size: 20px;
    margin-right: 5px;
    color: var(--light);
} 
header nav ul {
    list-style: none;
} 
/* List items in navigation bar */
header nav ul li {
    display: inline; 
    font-size: 20px;
    margin-left: 15px;
}

.full-body {
    border: 2px solid #0016a3cb;
    background-image: linear-gradient(#2e82ffe7, #5fc7fbf9);
    margin: 3px;
    padding: 5px;
}
#main-image {
    max-width: 350px;
    height: 300px;
    border: 2px solid #0016a3cb;
    border-radius: 50%;
    box-shadow: 2px 5px 5px 2px;
    padding: 5px;
    display: flex;
    margin: 0 auto;
}
.mywork, .about, .contact {
    border: 2px solid #0016a3cb;
    background-image: linear-gradient(#2e82ffe7, #5fc7fbf9);
    margin: 3px;
    padding: 5px;
    text-align: center;
} 
/* #mywork-title {
    align-content: center;
    
} */

/* .mywork {
    display: flex;
} */

.body-boxes {
    position: relative;
    display: inline-flex;
    width: 0 auto;
    border: 2px solid #0016a3cb;
    border-radius: 3%;
    
}

.contact ul {
    list-style: none;
    border: none;
    background-image: none;
}